body {
    background-color: $background;
    line-height: 1.4;
    padding:10px;
}

h1.header {
    color: $headers;
    font-family: $headerFont;
    padding: 15px;
}

p.slogan {
    color: $text;
    font-family: $textFont;
    font-size:20px;
    
}

img {
    border: 1px solid $imageBorder;
}

.filter-button {
    font-size: 18px;
    color: $imageBorder;
    background-color: $background;
    border-radius: 5px;
    text-align: center;
    font-family: $textFont;
}

.filter-button:hover {
    border: 1px solid $imageBorder;
}

.btn-default:active .filter-button:active {
    border: 1px solid $imageBorder;
}