@import url('https://fonts.googleapis.com/css?family=Neuton|Satisfy|Tangerine:400,700');

$imageBorder:   #ffbf00;
$background:    #000000;
$text:          #ffffff;
$headers:       #bf9b30;

$headerFont:    'Satisfy', Helvetica, sans-serif;
$textFont:      'Neuton', Lucida Sans, sans-serif;