@import url('https://fonts.googleapis.com/css?family=Neuton|Satisfy|Tangerine:400,700');
@import url('https://fonts.googleapis.com/css?family=Tajawal');

$imageBorder:   #ffbf00;
$background:    #000000;
$text:          #ffffff;
$headers:       #bf9b30;
$span:          #d1cfcf;

$headerFont:    'Satisfy', Helvetica, sans-serif;
$textFont:      'Neuton', Lucida Sans, sans-serif;
$spanFont:      'Tajawal', sans-serif;